<% const year=new Date().getFullYear(); %>
    <footer>
        <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
        <p class="footer-links">
            <a href="/error/trigger-error">Test 500 Error</a>
        </p>
    </footer>