<main>
    <h1>Inventory Management</h1>

    <p>Use the links below to manage vehicle classifications and inventory items.</p>

    <ul class="inv-management-links">
        <li><a href="/inv/add-classification">Add New Classification</a></li>
        <li><a href="/inv/add-inventory">Add New Inventory</a></li>
    </ul>
</main>