<main>
    <h1>
        <%= title %>
    </h1>

    <section class="error-message">
        <p><%- message %></p>
    </section>

    <p>
        Something went wrong, but don't worry — even our mistakes travel at 88 mph! 🚗⚡
    </p>

    <a href="/" class="btn">Return Home</a>
</main>